* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
}

.header {
  height: 10vh;
  background-color: white;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.container {
  margin-top: 10vh;
  width: 100%;
  display: flex;
}
.sidebar {
  flex: 1;
  height: 310vh;
  background-color: #afc7ac;
  color: white;
}
.content {
  flex: 1;
  height: 100vh;
  background-color: white;
  padding: 20px;
}
.content_title {
  color: white;
  background-color: #dcbcad;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.paragraph {
  color: #979191;
  font-size: 16px;
}
.image {
  border: 3px solid white;
  border-radius: 15px;
  padding: 7px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.name {
  height: 20vh;
  width: 20%;
  font-size: 45px;
  text-transform: uppercase;
  padding-left: 100px;
  padding-top: 40px;
  letter-spacing: 2px;
}
.job_title {
  height: 15vh;
  width: 90%;
  font-size: 30px;
  font-style: italic;
  padding-left: 100px;
  padding-top: 40px;
  letter-spacing: 2px;
}
.job_title::after {
  display: block;
  content: "";
  width: 30%;
  height: 6px;
  background: white;

  position: absolute;
  bottom: 0;
  left: 150px;
  right: 50px;
}

.job_title {
  position: relative;
}

.contact {
  display: block;
  font-style: italic;
  padding-left: 100px;
}

address {
  display: block;
  font-style: italic;
  padding-left: 100px;
}
.btn-linkedin {
  background: #0e76a8;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
  margin-left: 100px;
}
.btn-linkedin:link,
.btn-linkedin:visited {
  color: #fff;
}
.btn-linkedin:active,
.btn-linkedin:hover {
  background: #084461;
  color: #fff;
}
.button_header {
  display: flex;
  height: 8vh;
  font-size: medium;
  margin-left: 30px;
}
.links {
  background-color: white;
  width: 40%;
  margin-left: 100px;
  height: 10vh;
  font-size: 20px;
  align-content: center;
  position: relative;
  z-index: 100;
}
